#the-app {
  min-height: 100vh;

  --padding-x: 32px;

  @media (--tablet) {
    --padding-x: 16px;
  }
}

.container {
  margin: 0 32px;

  @media (--wide-desktop-max) {
    margin: 0 24px;
  }

  @media (--small-desktop) {
    margin: 0 20px;
  }

  @media (--tablet) {
    margin: 0 16px;
  }

  @media (--phone) {
    margin: 0;
    padding: 0 17px;
  }
}

._mobile {
  @media (--phone-min) {
    display: none !important;
  }
}

._desktop {
  @media (--phone) {
    display: none !important;
  }
}

._red {
  color: var(--red-cold) !important;
}

._green {
  color: var(--green) !important;
}

._yellow {
  color: var(--yellow) !important;
}

._white {
  color: var(--neutral-10) !important;
}

._error {
  font-size: 1rem;
  color: var(--red-cold);
}

._add-dots {
  overflow: hidden;
  white-space: nowrap !important;
  text-overflow: ellipsis;
}
